@model Booking
@{
	ViewData["Title"] = "Add";
}

<h1>Create a new booking record</h1>
<div asp-validation-summary="All" style="color:red;"></div>
<form asp-controller="Booking" asp-action="Add">
	@*
	<label asp-for="@Model.Id"></label>
	<input asp-for="Id" />
	<span asp-validation-for="Id"></span>
	<br />
	*@
	<label asp-for="@Model.CustomerName"> </label>
	<input asp-for="CustomerName" />
	<span asp-validation-for="CustomerName"></span>
	<br />
	<label asp-for="@Model.CustomerEmail"> </label>
	<input asp-for="CustomerEmail" />
	<span asp-validation-for="CustomerEmail"></span>
	<br />
	<label asp-for="@Model.PhoneNumber"> </label>
	<input asp-for="PhoneNumber" />
	<span asp-validation-for="PhoneNumber"></span>
	<br />
	<label asp-for="@Model.Created"></label>
	<input asp-for="Created" />
	<span asp-validation-for="Created"></span>
	<br />
	<label asp-for="@Model.ServiceId"></label>
	<input asp-for="ServiceId" />
	<span asp-validation-for="Id"></span>
	<br />
	<label asp-for="@Model.Status"></label>
	<select asp-for="Status" asp-items="@Html.GetEnumSelectList(typeof(Status))">
		<!--Showing as dropdown-->
		<option>Select</option>
	</select>
	<span asp-validation-for="Id"></span>
	<br />
	<br />
	<br />
	<input type="submit" value="Save new booking" />
	<input type="button" value="Cancel" onclick="history.back()" />
</form>

