@model Booking
@{
	ViewData["Title"] = "Edit";
}


<h1>Modifying @Model.CustomerName</h1>
<form asp-controller="Booking" asp-action="Edit" method="post">
	<input asp-for="Id" type="hidden" />
	<input asp-for="CustomerName" type="hidden" />
	<input asp-for="PhoneNumber" type="hidden" />
	<label asp-for="@Model.CustomerEmail"> </label> <input asp-for="CustomerEmail" /><br />
	<span asp-validation-for="CustomerEmail"></span>
	<label asp-for="@Model.Created"></label> <input asp-for="Created" /><br />
	<span asp-validation-for="Created"></span>
	<label asp-for="@Model.ServiceId"></label> <input asp-for="ServiceId" /><br />
	<span asp-validation-for="ServiceId"></span>
	<label asp-for="@Model.Status"></label> <select asp-for="Status" asp-items="@Html.GetEnumSelectList(typeof(Status))"></select> <br /> <!--Showing as dropdown-->
	<span asp-validation-for="Status"></span>
	<br />
	<br />
	<input type="submit" value="Save booking changes" />
	<input type="button" value="Cancel" onclick="history.back()" />

	<div asp-validation-summary="All" style="color:red;"></div>
</form>

