@model Booking

@{
	ViewData["Title"] = "ShowDetails";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Details</h1>
@if (Model is null)
{
	<h1>There is no booking with the ID @ViewBag.id</h1>
}
else
{
	<h1><label asp-for="@Model.Id"></label>@Model.Id</h1>
	<h2><label asp-for="@Model.CustomerName"> </label>@Model.CustomerName</h2>
	<p><label asp-for="@Model.CustomerEmail"> </label>@Model.CustomerEmail <br /><label asp-for="@Model.Created"> </label> @Model.Created</p>
}
<a class="btn btn-info" asp-action="Index">Back to list</a>

